body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 200px;
    max-width: 100vw;
    gap: 100px;
    background-color:  hsl(0, 100%, 74%);
}
section{
    width: 50%;
}
input{
    display: block;
    margin-bottom: 12px;
    border: 2px solid #a8a2a2;
    border-radius: 8px;
    width: 450px;
    height: 48px;

}
form{
    background-color: white;
    width: 70%;
    margin: 16px;
    padding: 20px;
    border-radius: 8px;
}
button{
    background-color: hsl(154, 59%, 51%);
    opacity: 0.9;
    border: 2px solid #a8a2a2;
    border-radius: 8px;
    width: 450px;
    height: 48px;
    cursor: pointer;
}
.button:hover{
    opacity: 1;
}
#head{
    background-color: hsl(228, 45%, 44%);
    border: 2px solid #a8a2a2;
    border-radius: 4px;
    width: 450px;
    height: 48px;
    font-weight: bold;
    text-align: center;
    margin-left: 35px;
    font-family: Arial;
}
h1{
    color: white;
    font-size: xx-large;
    font-family: Arial;
}
p{
    color: white;
    font-size: xx-large;
}